---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "LILAEEE - ABOUT";

const identity = {
  firstName: "LILA",
  country: "Canada",
  occupation: "trainee UX/UI designer",
  hobbies: ["cinematography", "photography"],
  musicians: ["silica gel", "elliot smith", "malice mizer"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<BaseLayout>
  <h1>About me</h1>
  <p>
    I’m {identity.firstName}[/daɭʲˈiɭa/], a {identity.occupation} with about a year
    and half of experience in web design. Other than designing, I like to spend my
    time consuming all kinds of media, usually {identity.hobbies[0]} ,
    {identity.hobbies[1]}or any other kind of artistic -graphy. My favorite
    artists include {identity.musicians[0]} , {identity.musicians[1]} && {
      identity.musicians[2]
    }
  </p>
</BaseLayout>
